* {
    margin: 0;
    padding: 0;
}

.header-main {
    display: flex;
}

.header-left {
    width: 50%;
}

.header-right {
    width: 50%;
}

.header-right img {
    width: 100%;
}

.header-left-top-navbar {
    display: flex;
    width: 100%;
    margin: 22px;
}

.header-left-top-navbar-navbar-right ul {
    display: flex;
    list-style: none;
}

.header-left-top-navbar-navbar-right ul li a {
    text-decoration: none;
    margin-left: 10px;
    color: #2e2d2e;
}

.header-left-top-navbar-navbar-right {
    width: 70%;
    font-size: 20px;
}

.header-left-top-navbar-logo {
    width: 30%;
}

.header-left-center-content {
    width: 70%;
    margin: 60px auto;
}

.header-left-center-content h1 {
    font-size: 60px;
}

.header-left-center-content p {
    font-size: 16px;
    color: #2e2d2e;
    margin-top: 35px;
    line-height: 2;
}

.header-left-bottom-footer {
    width: 70%;
    margin: 100px auto;
}

.button-read-more {
    border: 3px solid #ff5a58;
    background: #fff;
    padding: 15px;
    border-radius: 30px;
    width: 160px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.button-read-contactus {
    border: 3px solid #4aafff;
    background: #fff;
    padding: 15px;
    border-radius: 30px;
    width: 160px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.button-read-Readmore {
    border: 2px solid #4aafff;
    background: #f7f7f8;
    padding: 15px;
    border-radius: 30px;
    width: 160px;
    font-size: 15px;
    text-align: center;
    color: #4aafff;
}

.button-read-Readmore:hover {
    color: #000;
    border: 2px solid red;

}

.content {
    display: flex;
    width: 100%;
    background-image: url('../images/services-bg.png');
    background-repeat: no-repeat;
    background-size: 120%;
    height: 550px;
    margin-top: 110px;
}

.section-content-left {
    width: 70%;
    padding-left: 8%;
    padding-top: 10%;
}

.section-content-right {
    width: 30%;
    margin-top: 100px;
}

.section-content-right img {
    width: 100%;
}

.child-content {
    display: flex;
    width: 90%;
}

.title-h1 {

    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;

}
.section-content-left-main{
    width: 70%;
}
.section-content-left-main p{
    line-height: 1.8;
    color: #766b6b;
    margin-top: 45px;
    margin-bottom: 40px;
}
.linebar{
    position: relative;
    background: red;
    width: 70px;
    display: block;
    border-radius: 5px;
    height: 7px;
    margin-bottom: 5px;
}
.linebar1{
    position: relative;
    background: red;
    width: 70px;
    display: block;
    border-radius: 5px;
    height: 7px;
    margin:5px auto;
}
.whatwedo{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 65px;
    height: 400px;
}
.whatwedo1{
    width: 80%;
    margin: 70px auto;
    text-align: center;
    margin-top: 65px;
    min-height: 400px;
    height: auto;
}
.whatwedo-header-p-h-h{
    margin-bottom: 100px;
}
.whatwedo-card-content{
    display: flex;
    width: 100%;
}
.card-step-1{
    width: 25%;
}
.card-step-2{
    width: 25%;

}
.card-step-3{
    width: 25%;

}
.card-step-4{
    width: 25%;


}
.card-step-1-content{
    background: #1b5a8d;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
}
.card-step-1-content-pic img{
   width: 80%;
}
.card-step-2-content-pic img{
   width: 80%;
}
.card-step-3-content-pic img{
   width: 80%;
}
.card-step-4-content-pic img{
   width: 80%;
}
.card-step-2-content{
    background: #1b5a8d;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;

}
.card-step-3-content{
    background: #1b5a8d;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;

}
.card-step-4-content{
    background: #1b5a8d;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;

}
.card-step-4-content:hover{
    background: #ff5a58;
    color: #fff;
    border-radius: 10px;

}
.card-step-3-content:hover{
    background: #ff5a58;
    color: #fff;
    border-radius: 10px;

}
.card-step-2-content:hover{
    background: #ff5a58;
    color: #fff;
    border-radius: 10px;

}
.card-step-1-content:hover{
    background: #ff5a58;
    color: #fff;
    border-radius: 10px;

}

.ourprojects{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 65px;
    min-height: 400px;
    height: auto;
    display: flex;
}
.ourproject-left{
    width: 50%;
}
.ourproject-right{
    width: 50%;
    display: flex;

}

.ourproject-right img{
    padding: 10px;
    width: 90%;
}
.information-company{
    width: 100%;
    background-color: #ff5a58;
    height: 200px;
}
.information-company-center{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
    color: #fff;
}
.card-information-4{
    width: 25%;
}
.card-information-3{
    width: 25%;
}
.card-information-2{
    width: 25%;
}
.card-information-1{
    width: 25%;
    
}
.whatwedo-card-content ul{
    display: flex;
    position: relative;
    left: 35%;
}
.whatwedo-card-content ul li{
list-style: none;
}
.whatwedo-card-content ul li a{
text-decoration: none;
}
.footer{
    width: 100%;
    background-color: #121212;
    height: 500px;
    color: #fff;
}
.footer-main{
    width: 80%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.footer-main-list{
    width: 25%;
}
.footer-main-list-instagram1 {
    display: flex;
}
.footer-main-list-instagram2 {
    display: flex;
}
.footer-main-list-instagram3 {
    display: flex;
}
.footer-main-list-instagram4 {
    display: flex;
}